<h1>My Project Brief</h1>
<section> Company info
<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>Company Name</th>
            <th>Company Description</th>
            <th>Group Members</th>
        </tr>
    </thead>
<tbody></tbody>
</table>
</section>
<section>Proposal
    <table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>Description</th>
            <th>Products</th>
            <th>Industry</th>
        </tr>
    </thead>
<tbody></tbody>
</table>

</section>